body{
    align-items: center;
    text-align: center;
}

.div{
    border-style: solid;
    border-radius: 1rem;
    border-color: blue;
    align-items: center;
    text-align: center;
}
.h1{
    
    color: blue;
}
.button{
    margin-top: 10PX;
    padding: 1.5rem;
    border-style: none;
    background-color: aqua;
    font-style: normal ;
    
}